@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "responsive";
@import "auth";
@import "loader";
@import "user";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  position: relative;
}



button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 10px;
  transition: all 0.3s;
}

button:hover {
  filter: brightness(60%);
}


// anasayfa

#feed{
  
  min-height: 100vh;
  font-family: "poppins";
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;

  @include sm {
    grid-template-columns: 1fr 5fr 0;

  }

}

// nav

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include sm {
    align-items: center;
  }


  @media (min-width:1000px){
    align-items: end;
    margin-right: 50px;
  }


  ul{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    @include md {
      align-items: end;
      padding:10px 5px !important;
    }



    img{
      width: 80px;

      @include md{
        width: 50px;
      }
    }

    li{
      margin: 5px;

      display: flex;
      font-size: 19px;
      gap: 10px;
      padding: 20px 10px;
      border-radius:  6px;
      cursor: pointer;
      transition: all 0.4s;

     
      &:hover{
        background-color: rgb(60,60,60);
      }
      &:last-child{
        background-color: $blue;
        padding: 10px 10px;
        @include sm {
          padding: 10px 5px;
        }
  
      }

      

    }

    a{
      text-decoration: none;
      color: white;
      white-space: nowrap;

    }

    i{
      color: white;

      @include md{
        font-size: 23px;
      }
    }
    span{
      color: white;
      @include md {
        display: none;

      }
    }
  }




  .user-info{
    display: flex;
    gap: 10px;
    margin: 15px 0;
    padding: 0 10px;

    @include md{
      flex-direction: column;
      align-items: end;
    }

    img{
      height: 60px;
      width: 60px;
      border-radius: 50%;


      @include md {
        width: 50px;
        height: 50px;
      }
    }

    button{
      font-size: 16px;
      padding: 4px 10px;
      display: flex;
      gap: 5px;

      @include md{
        font-size: 18px;
        padding: 6px 16px;
      }
    }

    span, p {
      white-space: nowrap;
      @include md{
        display: none;
      }
    }



  }

}

// orta kısım
main{
  border: 2px solid rgb(60, 60, 60);
  overflow: auto;
  height: 100vh;

  header{
    padding: 20px;
    font-weight: bold;
    font-size: 21px;
    border-bottom: 1px solid rgb(60, 60, 60);
  }

  #post-tweet{
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(60, 60, 60);
  }
  &::-webkit-scrollbar{
    background-color: black;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;

  }

  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .input-area{
    width: 100%;

    input{
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      color: white;
      padding: 10px 20px;
      font-size: 20px;
    }

    .button-area{
      display: flex;
      justify-content: end;
    }

    button{
      border-radius: 60px;
      background: $blue;
      color: white;
      padding: 10px 20px;
      font-size: 15px;
      &:hover{
        background: rgb(74, 186, 255);
      }
    }
  }

}

.tweets-area{
  display: flex;
  flex-direction: column;
}

.tweet{
  display: flex;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid rgb(60, 60, 60);
  #user-img{
    height: 50px;
    border-radius: 50%;
    @include sm {
      display: none;
    }
  }
  #mobile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
    @include sm{
      display: block;
    }
  }



  .body{
    width: 100%;
    margin-top: 10px;
    .user{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      a{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        text-decoration: none;
        color: white;

        p{
          color: gray;
          @include sm{
            font-size: 14px;
          }
        }

      }
  
    }

    .content{
      margin-top: 10px;
        width: 100%;
        text-decoration: none;
        color: white;

      img, video{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        height: 100%;
        max-height: 600px;
        margin-top: 5px;
      }

    }

   



  }


}

.tweet .buttons{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      button{
        background: none;
        color: gray;
        @include sm{
          font-size: 14pxs;
        }
        &:nth-child(1){
          &:hover{
            color: $blue;
            background-color: rgba(0, 0, 255, 0.386);
          }
        }
        &:nth-child(2){
          &:hover{
            color: green;
            background-color: rgba(0, 128, 0, 0.373);
          } 
        }
        &:nth-child(3){
          &:hover{
            color: pink;
            background-color: rgba(255, 192, 203, 0.387);
          }
          
        }
        &:nth-child(4){
          &:hover{
            color: $blue;
            background-color: rgba(0, 0, 255, 0.315);
          }  
        }

      
      }

}


// sağ kısım

aside{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;

  @include md {
    display: none;
  }

  form{
    background: rgb(40, 40, 40);
    padding: 5px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 40px;
    color: gray;

    input{
      background: none;
      font-family: 'poppins';
      border: none;
      outline: none;
      color: rgb(188, 187, 187);
    }
  }
}


// !! DETAY SAYFASI İÇİN




.nav{
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;

  i {
    font-size: 21px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover{
      background-color: rgba(80, 80, 80);
    }
  }
  h4{
    font-size: 20px;
  }
}

.detail-tweet {
  padding: 20px;

  .user{
    img{
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .content{
    margin-top: 30px !important;
  }


  .info{
    display: flex;
    gap: 10px;
    margin-top: 30px;

    p:nth-child(1){
      color: gray;
    }

    p:nth-child(2){
      span:nth-child(2){
        color: gray;
      }


    }


  }
}

#comment-form{
  display: flex;
  padding: 20px;
  gap:10px;
  img{
    border-radius: 50%;
  }

  input{
    flex: 1;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
  
  }

  button{
    background-color: $blue;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
  }
}