@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
#auth-page {
  min-height: 100vh;
  background: rgb(30, 30, 30);
  display: grid;
  place-items: center;
}

#auth-page form {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  padding: 60px 80px;
  border: 1px solid gray;
  border-radius: 10px;
  gap: 30px;
}
@media (max-width: 670px) {
  #auth-page form {
    width: 100%;
    min-width: unset;
    height: 100vh;
    justify-content: center;
    border-radius: 0px;
  }
}
#auth-page form img {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}
#auth-page form div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#auth-page form input {
  margin-top: 5px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid gray;
  outline: none;
}
#auth-page form input:focus {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.685);
  outline: 1px solid #1da1f2;
}
#auth-page form button {
  width: 100%;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  padding: 8px;
  font-family: "Poppins";
}
#auth-page form .name-warning,
#auth-page form .pass-warning {
  height: 45px;
}
#auth-page form .name-warning p,
#auth-page form .pass-warning p {
  width: 100%;
  background: #f8d7da;
  padding: 5px 20px;
  border-radius: 5px;
  color: black;
  margin-top: 10px;
}

#loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.wrapper {
  width: 100px;
  height: 50px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 40px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.user-page .page-top {
  border-bottom: 1px solid rgb(60, 60, 60);
}
.user-page #nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-page #nav h3 {
  font-size: 18px;
}
.user-page #nav span {
  color: gray;
}
.user-page #nav span:nth-child(1) {
  color: white;
}

.user-page .banner {
  position: relative;
}
.user-page .banner img:nth-child(1) {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
  max-height: 150px;
}
.user-page .banner img:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  left: 30px;
  bottom: -40px;
  border: 4px solid black;
}
@media (max-width: 1000px) {
  .user-page .banner img:nth-child(2) {
    max-width: 70px;
    max-height: 70px;
    bottom: -35px;
  }
}

.user-page .buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
  margin-right: 20px;
  gap: 10px;
}
.user-page .buttons .icon {
  border: 1px solid gray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.user-page .buttons .icon:hover {
  background-color: gray;
}

.user-page .info {
  padding: 20px;
}
.user-page .info h4 {
  font-size: 19px;
  line-height: 17px;
}
.user-page .info .profile {
  font-size: 14px;
  color: gray;
}
.user-page .info p {
  font-size: 15px;
  margin-top: 15px;
}
.user-page .info div {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.user-page .info div a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.user-page .info div a span {
  font-weight: bold;
  color: #fff;
}
.user-page .info div a span:nth-child(2) {
  color: gray;
  font-weight: normal;
}

.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 100%
  position: relative;
  display: flex;
  align-items: center;
  color: gray;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 4);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) {
  border-bottom: 1px solid #1da1f2;
  display: inline-block;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  position: relative;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 10px;
  transition: all 0.3s;
}

button:hover {
  filter: brightness(60%);
}

#feed {
  min-height: 100vh;
  font-family: "poppins";
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
}
@media (max-width: 670px) {
  #feed {
    grid-template-columns: 1fr 5fr 0;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 670px) {
  nav {
    align-items: center;
  }
}
@media (min-width: 1000px) {
  nav {
    align-items: end;
    margin-right: 50px;
  }
}
nav ul {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
@media (max-width: 1000px) {
  nav ul {
    align-items: end;
    padding: 10px 5px !important;
  }
}
nav ul img {
  width: 80px;
}
@media (max-width: 1000px) {
  nav ul img {
    width: 50px;
  }
}
nav ul li {
  margin: 5px;
  display: flex;
  font-size: 19px;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s;
}
nav ul li:hover {
  background-color: rgb(60, 60, 60);
}
nav ul li:last-child {
  background-color: #1da1f2;
  padding: 10px 10px;
}
@media (max-width: 670px) {
  nav ul li:last-child {
    padding: 10px 5px;
  }
}
nav ul a {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
nav ul i {
  color: white;
}
@media (max-width: 1000px) {
  nav ul i {
    font-size: 23px;
  }
}
nav ul span {
  color: white;
}
@media (max-width: 1000px) {
  nav ul span {
    display: none;
  }
}
nav .user-info {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  padding: 0 10px;
}
@media (max-width: 1000px) {
  nav .user-info {
    flex-direction: column;
    align-items: end;
  }
}
nav .user-info img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
@media (max-width: 1000px) {
  nav .user-info img {
    width: 50px;
    height: 50px;
  }
}
nav .user-info button {
  font-size: 16px;
  padding: 4px 10px;
  display: flex;
  gap: 5px;
}
@media (max-width: 1000px) {
  nav .user-info button {
    font-size: 18px;
    padding: 6px 16px;
  }
}
nav .user-info span, nav .user-info p {
  white-space: nowrap;
}
@media (max-width: 1000px) {
  nav .user-info span, nav .user-info p {
    display: none;
  }
}

main {
  border: 2px solid rgb(60, 60, 60);
  overflow: auto;
  height: 100vh;
}
main header {
  padding: 20px;
  font-weight: bold;
  font-size: 21px;
  border-bottom: 1px solid rgb(60, 60, 60);
}
main #post-tweet {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(60, 60, 60);
}
main::-webkit-scrollbar {
  background-color: black;
  width: 5px;
}
main::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
main img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
main .input-area {
  width: 100%;
}
main .input-area input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
}
main .input-area .button-area {
  display: flex;
  justify-content: end;
}
main .input-area button {
  border-radius: 60px;
  background: #1da1f2;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
}
main .input-area button:hover {
  background: rgb(74, 186, 255);
}

.tweets-area {
  display: flex;
  flex-direction: column;
}

.tweet {
  display: flex;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid rgb(60, 60, 60);
}
.tweet #user-img {
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 670px) {
  .tweet #user-img {
    display: none;
  }
}
.tweet #mobile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
}
@media (max-width: 670px) {
  .tweet #mobile-img {
    display: block;
  }
}
.tweet .body {
  width: 100%;
  margin-top: 10px;
}
.tweet .body .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.tweet .body .user a {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.tweet .body .user a p {
  color: gray;
}
@media (max-width: 670px) {
  .tweet .body .user a p {
    font-size: 14px;
  }
}
.tweet .body .content {
  margin-top: 10px;
  width: 100%;
  text-decoration: none;
  color: white;
}
.tweet .body .content img, .tweet .body .content video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  height: 100%;
  max-height: 600px;
  margin-top: 5px;
}

.tweet .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.tweet .buttons button {
  background: none;
  color: gray;
}
@media (max-width: 670px) {
  .tweet .buttons button {
    font-size: 14pxs;
  }
}
.tweet .buttons button:nth-child(1):hover {
  color: #1da1f2;
  background-color: rgba(0, 0, 255, 0.386);
}
.tweet .buttons button:nth-child(2):hover {
  color: green;
  background-color: rgba(0, 128, 0, 0.373);
}
.tweet .buttons button:nth-child(3):hover {
  color: pink;
  background-color: rgba(255, 192, 203, 0.387);
}
.tweet .buttons button:nth-child(4):hover {
  color: #1da1f2;
  background-color: rgba(0, 0, 255, 0.315);
}

aside {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}
@media (max-width: 1000px) {
  aside {
    display: none;
  }
}
aside form {
  background: rgb(40, 40, 40);
  padding: 5px 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 40px;
  color: gray;
}
aside form input {
  background: none;
  font-family: "poppins";
  border: none;
  outline: none;
  color: rgb(188, 187, 187);
}

.nav {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav i {
  font-size: 21px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.nav i:hover {
  background-color: rgb(80, 80, 80);
}
.nav h4 {
  font-size: 20px;
}

.detail-tweet {
  padding: 20px;
}
.detail-tweet .user img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail-tweet .content {
  margin-top: 30px !important;
}
.detail-tweet .info {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.detail-tweet .info p:nth-child(1) {
  color: gray;
}
.detail-tweet .info p:nth-child(2) span:nth-child(2) {
  color: gray;
}

#comment-form {
  display: flex;
  padding: 20px;
  gap: 10px;
}
#comment-form img {
  border-radius: 50%;
}
#comment-form input {
  flex: 1;
  background-color: black;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}
#comment-form button {
  background-color: #1da1f2;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */